footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
  }
  footer p {
    font-size: 14px;
    text-decoration-color: blue;
    text-decoration: underline;
  }
  
  @media (min-width: 2316px) {
    footer {
      position: fixed;
      bottom: 0px;
    }
  }
  