@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Yeon+Sung&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Yeon Sung", cursive;
}
body {
  background-color: #d7d044;
  color: rgb(225, 22, 22);
}
.App {
  text-align: center;
}
